.palette-notice {
  --scheme-main: var(--palette-notice-main);
  --scheme-main-hover: var(--palette-notice-main-hover);

  --card-bg: var(--scheme-background);

  --input-text-bg: var(--scheme-background);
  --input-text-color: var(--scheme-foreground);
  --input-text-border-color: var(--scheme-foreground);
}

.theme-light {
  --palette-notice-main: hsl(33, 100%, 50%);
  --palette-notice-main-hover: hsl(33, 100%, 45%);
}

.theme-dark {
  --palette-notice-main: hsl(39, 100%, 50%);
  --palette-notice-main-hover: hsl(39, 100%, 45%);
}