.palette-notice {
  --scheme-main: var(--palette-notice-main);

  --btn-color: var(--scheme-main);
  --btn-text-color: var(--scheme-background);
  --btn-hover-color: var(--scheme-middleground);

  --card-bg: var(--scheme-background);

  --input-text-bg: var(--scheme-background);
  --input-text-color: var(--scheme-foreground);
  --input-text-border-color: var(--scheme-foreground);
}

.theme-light {
  --palette-notice-main: darkorange;
}

.theme-dark {
  --palette-notice-main: orange;
}