:root {
  --ff-default: "Spline Sans", sans-serif;;
}

@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/spline_sans/SplineSans-Regular.ttf");
}
@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/spline_sans/SplineSans-Bold.ttf");
}