.palette-layer0 {
  --scheme-main: var(--palette-layer0-main);
  --scheme-main-hover: var(--palette-layer0-main);
}
.palette-layer1 {
  --scheme-main: var(--palette-layer1-main);
  --scheme-main-hover: var(--palette-layer1-main);
}
.palette-layer2 {
  --scheme-main: var(--palette-layer2-main);
  --scheme-main-hover: var(--palette-layer2-main);
}

.theme-light {
  --palette-layer0-main: hsl(350, 90%, 75%);
  --palette-layer1-main: hsl(310, 70%, 75%);
  --palette-layer2-main: hsl(250, 70%, 75%);
}

.theme-dark {
  --palette-layer0-main: hsl(350, 70%, 40%);
  --palette-layer1-main: hsl(310, 70%, 40%);
  --palette-layer2-main: hsl(250, 70%, 40%);
}